<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
        title #ThissChat
    body
        #screen-container.container
            #messages
            #input-container
                input#input.form-control(name="input" autocomplete="off")
                button#send.btn.btn-primary(onclick="send()") Send
    script(src="/javascripts/lib/jquery.js")
    script(src="/javascripts/lib/socket.io.js")
    script(src="/javascripts/chat.js")
    